.categories_preview_container
{
    margin: 70px auto;
    text-align: center;

        h2
        {
            font-size: 45px;
        }

    .categories-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 750px) {
    /*.mySwiper
    {
        .swiper-slide {
            display: flex !important;
            justify-content: center !important;

            &.swiper-slide-active {
                display: flex;
                justify-content: center;
            }
        }
        .swiper-wrapper
        {
            display: flex !important;
            justify-content: center !important;
        }

    }*/
    .categories_preview_container
    {
        h2
        {
            font-size: 1.7rem;
        }
    }
    
}