.checkout_full_container
{
    .section-container
    {
      margin:50px auto;
      width: 95%;

      &>div:first-child
      {
        padding-left: 0;
      }
    }

    .left_checkout
    {
        .checkout_header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .right_checkout
    {
      height: fit-content;
      padding: 10px;
      margin-top: 45px;

      .total_info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 5px;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
      }
    }

    .empty_card
    {
      background-color: var(--light-grey);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
    }
}