.button-container {
    width: auto;
    padding: 5px 30px;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-size: 15px;
    background-color: var(--black-color);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-color);
  
    &:hover {
      background-color: white;
      color: var(--black-color);
      /*order: 1px solid var(--black-color);*/
    }
  
    &.red_button {
      background-color: var(--red-color);
      color: white;
  
      &:hover {
        background-color: var(--red-color);
        border: none;
      }
    }
  
    &.black_button {
      background-color: white;
      color: black;
      border: 1px solid black;
  
      &:hover {
        background-color: black;
        color: white;
        //border: none;
      }
    }

    &.blue_button {
      background-color: white;
      color: var(--blue-color);
      border: 1px solid var(--blue-color);
  
      &:hover {
        background-color: var(--blue-color);
        color: white;
        border: none;
      }
    }
  }