.cart-dropdown-container {
    position: fixed;
    width: 350px;
    max-width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 20px;
    border: 1px solid var(--black-color);
    background-color: var(--light-grey);
    z-index: 99999;
    transition: transform 0.8s;

    .close_carte
    {
        border: 2px solid red;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        border-radius: 50%;
        cursor: pointer;
    }

    .cart-items {
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-top:15px;

        h1
        {
            text-align: center;
            color: var(--black-color);
        }
    }


    .cart-actions
    {
        bottom: 20px;
        margin-top: 15px;

        span.cart-total
        {
            text-align: center;
            width: 100%;
            display: block;
            background-color: #eee;
            padding: 10px 0;
            font-size: 15px;
            font-weight: bold;
            border: 1px black dashed;
            border-bottom: none;
        }

        button {
            margin-top: auto;
            width: 100%;
        }
    }
}

.hide_cart
{
    transform: translateX(100%);
}