.payment_form_container
{
    background-color: var(--light-grey);
    padding: 5px;
    margin-top: 15px;

    .StripeElement.StripeElement--empty
    {
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #000 !important;

        .InputElement
        {
            color: #000 !important;
        }
    }
    button
    {
        margin-top: 10px;
        width: 100%;
    }
}