.product-card-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background: #eee;
  align-items: center;
  position: relative;
  margin-right:10px;
  max-height: 400px;
  
    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
    }
  
    button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px;
      display: none;
    }
  
    &:hover {
      img {
        opacity: 0.8;
      }
  
      button {
        opacity: 0.85;
        display: flex;
      }
    }
  
    .footer {
      width: 100%;
      height: 10%;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      border: 1px dashed #000;
    }
  }