.products_scroll_container
{
    margin: 70px auto;

    .scroll_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        border-bottom: 0.05px solid #000;

        h2
        {
            font-size: 45px;
            margin-block:0;
        }

        .actions
        {
            display: flex;
            height: 100%;
        }

        button.button-container
        {
            /*padding: 0;
            min-width: 80px;
            height: 100%;*/
        }
    }

    .mySwiper
    {
        .swiper-slide {
            display: flex !important;
            justify-content: center !important;
        }

    }

    button
    {
        margin: 15px auto;
    }

}


@media screen and (max-width: 750px) {
    /*.mySwiper
    {
        .swiper-slide {
            display: flex !important;
            justify-content: center !important;

            &.swiper-slide-active {
                display: flex;
                justify-content: center;
            }
        }
        .swiper-wrapper
        {
            display: flex !important;
            justify-content: center !important;
        }

    }*/
    .products_scroll_container
    {
        .scroll_header
        {
            h2
            {
                font-size: 1.7rem;
            }

            button.button-container
            {
                /*padding: 0;
                min-width: 100px;*/
                padding: 5px 20px;
            }
        }
    }
    
}