.chekout_item_container
{
  width: 100%;
  background-color: var(--light-grey);
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #fff;

  .checkout_left
  {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;

    .checkout_image
    {
      height: 100%;
      padding: 5px;

      img
      {
        width: 100%;
        height: 100%;
      }
    }

    .checkout_infos
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .price
      {
        font-size: 18px;
        color: #C21632;
      }
    }
  }

  .checkout_right
  {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    div
    {
      cursor: pointer;
    }

    .value
    {
      margin: 0 5px;
      font-size: 18px;
    }

    .remove-button
    {
      margin-left: 25px;
    }
  }
}

@media screen and (max-width: 750px)
{
  .chekout_item_container
  {
    height: 100px;

    .checkout_infos
    {
      .name
      {
        font-size: 15px;
      }

      .price
      {
        font-size: 12px;
      }
    }

    .checkout_right
    {
      .value
      {
        margin: 0 5px;
        font-size: 14px;
      }

      .remove-button
      {
        margin-left: 15px;
      }
    }

    
  }
}