body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root
{
  --black-color : #262626;
  --light-grey : #f6f6f6;
  --red-color : #C21632;
  --blue-color : #007398;
  --orange-color: #E6530F;
  --green-color : #9cc41f;
}

h1,h2,h3,h4,h5,h6
{
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

p,a,button,input,label,span
{
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

a
{
  text-decoration: none;
  color: var(--black-color);
}

*
{
  box-sizing: border-box;
}